.university-section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  padding: 80px;
  align-items: center; background:#f7f7f7
}

.content h2 {
 /* font-size: 4.5rem;*/
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.content p {
  line-height: 1.8;
}

/* Gallery grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.4s ease;
  transform: scale(1);
}

/* Hover effect */
.gallery-item:hover img {
  filter: grayscale(0%);
  transform: scale(1.05); 
}

/* Responsive */
@media (max-width: 992px) {
  .university-section {
    grid-template-columns: 1fr;
    padding: 40px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
